  #submit:hover {
   border : 2px solid #FF0500;
  background-image: linear-gradient(to right, #FFDC00, #00FFA5);
    }
  #resign:hover {
   border : 2px solid #FF0500; 
    }
    #submit, #resign{
        color : #FFFFFF;
        font-family: Monospace;
        margin-top : 20px;
        font-size: 17px;
        width: 70%;
        height: 50px;
        border-radius : 30px;
        border : 2px solid #A5FFE8;
  background-image: linear-gradient(to right, purple, pink);
        
    }
    #resign {
background-image: linear-gradient(to right, #3F00FF, #F7FF00) !important;
    }
        .input-used, .input-password  {
            border-radius: 20px ;
box-shadow: 5px 3px 0px 0px #464646;
display: inline-block;
            width: 80%;
            height: 40px;
            border : 2px solid #494949;
            margin-bottom: 5px;
        }
        .load-icon {
            z-index: 999 !important;
position: fixed;
            top: 47%;
left: 46%;
font-size: 50px !important;
opacity: 1;
color: red !important;

        }
.over-flow {
    
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: black;
    opacity: 0.6;
}
        .form-login {
text-align: center;
font-family:  Monospace;
font-size: 30px;
width : 100%;
border: 1px solid black;
box-shadow: 7px 7px 0px 0px #464646;
        }
        .icon-eye, .hident-eye{
 font-size: 25px !important;
    margin:7px 15px 0px 0px;
    float: right;
        }
.icon-used, .icon-password {
    
    float : left;
    font-size: 30px ;
    margin:4px 0px 0px 12px;
}
        .form-login h3 {
            text-align: center;
text-shadow: 5px 2px 4px grey;
        font-weight: bold;
        }
        #user,#password  {
            float:left;
            width: 70%;
            height:37px;
            border: none;
             color: #0F0F0F ;
           font-size: 15px ;
           padding-left: 14px;
        }
 :focus {outline:none !important;
     
 }
 .error-span {
     
     float: left !important;
     color : red ;
     font-size: 12px !important;
     margin: 0px 0px 0px  43px;
 }
 .input-used:hover {
     border : 2px solid #FF00E9;
 }
 .input-password:hover {
     border : 2px solid #FF00E9;
 }
 
 

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black ;
  -webkit-box-shadow: 0 0 0px 0px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}
.success-task-bar {
    display: none;
box-shadow: 7px 7px 0px 0px #464646;
    position: fixed;
    top : 20px;
    background: #A8FF94;
    width: 300px;
 
    padding: 7px 12px 12px 12px;
}
.error-task-bar {
box-shadow: 7px 7px 0px 0px #464646;
    position: fixed;
    top : 20px;
    background: #FF3961;
    width: 300px;
 display: none;
    padding: 7px 12px 12px 12px;
}
.fa-exclamation-triangle {
    font-size: 30px;
    color : #FFDD00;
text-shadow: 5px 2px 4px #000000 !important;
}
.error-span-task,.success-span-task {
    padding-left: 6px;
    font-family: Monospace;
    color : white;
text-shadow: 5px 2px 4px #000000;
}
.fa-check {
    color : #00FF0D;
}
.remember {
    float : left !important;
    margin-left : 44px;
}
.remember span {
    font-family: Monospace;
    font-size: 13px;
    
 position: relative;
 top : -3px;
 left: -7px;
}
.remember input {
    padding: 0;
    margin: 0;
}
.forgot {
    float : right;
    font-size: 13px;
    margin-top : 12px;
    margin-right: 12%;
    text-decoration: none;
    color : #008FC8;
}