 

 .fa-search {
     color : #FFFFFF;
     float : right;
     font-size: 30px;
     margin : 11px 20px 0px 0px;
 }
 .seacher {
     display: none;

  position: fixed;
    top:50px;
    bottom:0;
    right:0;
    left:0;
                z-index: 4;
                width: 100%;
                background : white;
                
 }
 .result-search {
     margin-top : 30px ;
     padding-left : 30px;
     
 }
 .result-search a {
     font-size: 15px;
     color : black;
     text-shadow: 5px 2px 4px grey;
 }
 .seacher li {
     line-height: 30px;
     list-style: none;
 }
 .seacher input {
margin-top : 30px ;
     width : 50%;
     border : 2px solid red;
     border-radius: 5px;
     height: 35px;
     font-size: 17px;
     padding-left : 12px;
 }
 .seacher button { 
     font-family: Monospace ;
     color : white;
  margin-top : 20px;
    font-size: 17px;
        width: 30% ;
        height: 40px;
        border-radius : 30px;
        border : 2px solid #A5FFE8;
  background-image: linear-gradient(to right, purple, pink);
 }
 .fa-search:hover {
     color : red;
 }
  *{
            padding: 0;
        margin: 0;
        }
    a {
        text-decoration: none;
    }
     body {
         font-family: Monospace;
     }   
            .container {
                width: 100%;
            
                border: 1px solid black ;
            }
            .fa-bars:hover {
                color : red;
            }
            .fa-close:hover {
                color: red;
            }
            .fa-bars {
               position: fixed;
                font-size: 36px;
           top : 7px;
               left : 20px;
            z-index: 3;
                color: white;
            }
            .content-nav-bar {
                color : white;
              display: none;
                position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
                z-index: 5;
                width: 10%;
                background : #000000;
                
            }
            .fa-close {
                float : right;
                font-size: 36px;
                margin-top : 7px;
                margin-right: 13px;
            }
            .close-ajax {
 float : right;
                font-size: 36px;
                margin-top : 7px;
                margin-right: 13px;
            }
            .close-ajax:hover {
                color : red;
            }
            .list-menu {
                display: none;
                font-family: Monospace;
            }
            .content {
                margin-top : 50px;
                width: 100%;
                
                font-family: Monospace;
                 
                z-index : 1;
            }
            .tab-task {
                z-index: 2;
  position: fixed;
                width: 100%;
                background: black;
               height: 48px;
            }
            .over-flow {
  display: none;
                position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
                z-index: 4;
                width: 100%;
                background : black;
                opacity: 0.1;
            }
            .list-menu li {
                font-size: 23px;
                margin : 20px;
                list-style: none;
                border-bottom : 1px solid #C6643D;
                padding: 12px 0px 12px 12px;
                margin: 0px 0px 0px 12px;
            }
            .list-menu ul>li:hover{
                border-bottom: 2px solid red;
                background: white;
                transition: 0.9s;
                color : black !important;
                
            }
            .socialite {
                margin-left : 11px;
                height: 50px;
           //     margin-top : 50px;
            }
            .socialite i {
                padding-bottom: 4px;
                border-bottom: 2px solid blue;
                font-size: 28px;
                margin : 12px 5px 0px 0px;
            }
            .title-logo {
 color: #FF0030;
font-family: 'Arizonia';font-size: 35px;
          position: relative;
          left : 30%;
          top : 4px;
          
            }
            .fa-phone:hover {
                color : #003DFF;
                transition: 0.4s;
border-bottom: 2px solid red;
            }
            .fa-envelope:hover {
                color : red;
border-bottom: 2px solid red;
                transition: 0.4s;
            }
            .fa-youtube-play:hover {
               color : red;
border-bottom: 2px solid red;
                transition: 0.4s;
                
            }
            .fa-facebook-square:hover {
 color : blue;
border-bottom: 2px solid red;
                transition: 0.4s;
            }
            
            .fa-instagram:hover {
 color : red;
border-bottom: 2px solid red;
                transition: 0.4s;
            }
            .fa-github:hover {
border-bottom: 2px solid red;
                transition: 0.4s;
            }
            .fa-twitter:hover {
 color : #26CEFF;
border-bottom: 2px solid red;
                transition: 0.4s;
            }
            .fa-arrow-up {
                display: none;
                position: fixed;
                bottom: 30px;
                right: 30px;
                font-size: 25px;
                color: #0048D4;
                background: #00FFA5;
                border-radius: 12%;
                padding : 10px;
            }
.load-icon {
            z-index: 999 !important;
position: fixed;
            top: 47%;
left: 46%;
font-size: 50px !important;
opacity: 1;
color: red !important;

        }
.over-flows {
    z-index: 30 !important;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: black;
    opacity: 0.6;
}
.title-name {
    font-size: 21px;
    border-left : 4px solid red;
    margin-bottom: 30px;
    
    padding-left : 5px;
}
.news-blog {
    margin-top : 20px;
    border-bottom: 1px dotted black;
    margin-left : 4%;
    width: 380px ;
    padding-bottom: 10px;
}
.img-title {
    float : left ;
    border-radius: 6px ;
    margin-right : 8px ;
}
.news-blog span {
  line-height: 20px ;
}
.center-paginate li {
    float : left;
    list-style: none;
    border: 1px solid black;
    padding : 2px 5px 2px 5px  ;
    margin-right : 7px ;
    font-size: 28px ;
    border-radius: 2px ;
}
.pagination>.center-paginate li:hover {
    background: red !important;
    color : white;
    border : 1px solid #E9FF00;
    transition: 0.4s ;
}
.pagination {
    margin-top : 20px;
  display: flex;
  justify-content: center; 
}
.center-paginate {
  display: inline-block;
}
.active-paginate {
    background: red !important;
    border : 1px solid orange !important;
    color : white !important ;
}
.contact {
    
}
.contact {
    
    background: #181818;
    margin-top : 30px;
    
    padding : 12px 0px 12px 12px;
}
.title-contact {
    margin : 12px 0px 13px 0px;
    color : white;
    font-size: 20px;
    border-left : 3px solid orange;
    padding-left : 6px;
}
.contact li {
    color : white;
    list-style: none;
    line-height: 21px;
    margin-left : 15px ;
    color : #A8A8A8;
}
.more-tag h2 {
margin : 12px 0px 13px 0px;
    color : white;
    font-size: 20px;
    border-left : 3px solid orange;
    padding-left : 6px;
}
.more-tag span {
   color: #9F9F9F;
}
.more-tag {
    margin-top : 20px;
    border-top : 1px solid white;
}
.copy-right {
    margin-top : 40px;
    color : white;
    text-align: center;
}
.active-nav-bar {
    background: #FFFFFF;
    border-bottom: 2px solid red;
    color : black ;
}